#div.wrapper {
    color: #000000;
    padding: 10px;
    width: 50%;
    background-color: #000000;
    margin: 0 auto;

}
   body {
       color: #ffffff;
  background-image: url("sky.png") fixed center;
}
