div.spacer1 {
       width: 20%;
       highth: 1px;
}
.page {
       align: left;
       color:#000000
}       
body {
       line-hight: 150%;
       font-family: 'Roboto', sans-serif;;
       color: #000000;
       background-image: url("https://github.com/QuickMash/QuickStealLS/blob/5f71a2ecfa65b77dc40428a692a8761dff592068/sky.png") fixed center;
}
