div.padding {
       width: 10px;
       visibility: hidden;
       
}
body {
       line-hight: 150%;
       font-family: 'Roboto', sans-serif;;
       color: #000000;
       background-image: url("https://th.bing.com/th/id/OIP.QejQ9jK24ZyItbczpi6XtAHaDt?w=342&h=175&c=7&r=0&o=5&pid=1.7");
       background-repeat: no-repeat;
       background-size: 100%;
}
.content {
  max-width: 60%;
  margin: auto;
  background-color: #ffffff;
  padding: 10px;
}
